.add-option-button {
  background: #8357c5;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 10px;
  outline: none;

  padding: 10px;

  &:hover {
    background: #8330c8;
    cursor: pointer;
  }
}

.add-option-error {
  color: #dbe9f4;
  font-style: italic;
  margin: 10px 0 10px 0;
  padding: 0 15px;
  // padding-right: 15px;
}

.add-option-form {
  display: flex;
  padding: 15px;
}

.add-option-input {
  background: #333745;
  border: none;
  color: white;
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  outline: none;
}
