html {
  font-size: 80%;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Open Sans";
  background: #333745;
}

.widget {
  background: #464b5e;
  margin-bottom: 30px;
}
